/** generelle **/

* {
  margin: 0;
  padding: 0;
}

:root {
  --overskrift: "Coming Soon", cursive;
  --brødtekst: "Roboto", sans-serif;
  --lysblaa: #8097ab;
  --hvid: #fafbec;
  --coral: #f68989;
}

body {
  overflow: hidden;
}

h2 {
  font-family: var(--overskrift);
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-family: var(--brødtekst);
  font-weight: bold;
}

p {
  font-family: var(--brødtekst);
}

.hide {
  display: none;
  visibility: hidden;
}

.not_valid {
  border-color: red;
}

/** landing page + log ind**/
#landing_main {
  background-image: url(img/startsidebg.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* background-position: 20% 0; */
  position: absolute;
  bottom: 0;
}

#logind_section {
  background-color: var(--hvid);
  width: 280px;
  padding: 40px 0;
  margin: 150px auto;
  border-radius: 5px;
  border: none;
}

#logind_form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

label {
  font-family: var(--overskrift);
}

input {
  border: 2px solid var(--lysblaa);
  border-radius: 5px;
  height: 25px;
  margin-bottom: 10px;
  font-family: var(--brødtekst);
}

input:focus {
  border-color: green;
}

button {
  width: 100px;
  margin: 0 auto;
  height: 25px;
  border: none;
  font-family: var(--brødtekst);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--coral);
  color: var(--hvid);
}

button:hover {
  color: var(--lysblaa);
  background-color: var(--hvid);
  transform: scale(1.05);
}

#advarsel {
  margin-bottom: 15px;
}

/** forside **/

#forside_main {
  background-image: url(img/baggrund.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  overflow: scroll;
}

#talebobbel {
  background-image: url(img/talebobbel.png);
  background-size: cover;
  width: 450px;
  height: 400px;
  margin: 20vh auto;
  position: relative;
}

#tb_indhold {
  width: 300px;
  position: absolute;
  top: 70px;
  left: 100px;
}

#valg_section {
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
}

#valg_section button {
  width: 200px;
  height: 50px;
  margin: 10px auto;
}
