/** generelle **/

* {
  margin: 0;
  padding: 0;
}

:root {
  --overskrift: "Coming Soon", cursive;
  --brødtekst: "Roboto", sans-serif;
  --lysblaa: #8097ab;
  --morkblaa: #61808f;
  --hvid: #fafbec;
  --coral: #f68989;
  --lyserod: #f2d6d3;
}

body {
  overflow: hidden;
}

h2 {
  font-family: var(--overskrift);
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-family: var(--brødtekst);
  font-weight: bold;
}

p {
  font-family: var(--brødtekst);
}

.hide {
  display: none;
  visibility: hidden;
}

.not_valid {
  border-color: red;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

/** header **/

header {
  height: 50px;
  width: 100vw;
  position: absolute;
  background-color: none;
  z-index: 100000;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

#hjem_knap {
  background-image: url(img/ikoner/hjem.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 1vw;
  cursor: pointer;
}

#logud_knap {
  background-image: url(img/ikoner/logud.png);
  width: 35px;
  height: 40px;
  background-size: cover;
  margin: 1vw;
  cursor: pointer;
}

/** landing page + log ind**/
#landing_main {
  background-image: url(img/startsidebg.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

#logind_section {
  background-color: var(--hvid);
  width: 280px;
  padding: 40px 0 10px;
  margin: 100px auto;
  border-radius: 5px;
  border: none;
}

#logind_form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

label {
  font-family: var(--overskrift);
}

input {
  border: 2px solid var(--lysblaa);
  border-radius: 5px;
  height: 25px;
  margin-bottom: 10px;
  font-family: var(--brødtekst);
}

input:focus {
  border-color: green;
}

button {
  width: 100px;
  margin: 0 auto;
  height: 25px;
  border: none;
  font-family: var(--brødtekst);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--coral);
  color: var(--hvid);
}

button:hover {
  color: var(--lysblaa);
  background-color: var(--hvid);
  transform: scale(1.05);
}

#advarsel {
  margin-bottom: 15px;
}

#logo_container {
  width: 230px;
  margin: 10px auto 0;
}

#ouh_logo {
  background-image: url(img/ikoner/ouh_logo.png);
  background-size: cover;
  height: 100px;
  width: 100px;
}

#cc_logo {
  background-image: url(img/ikoner/cc_logo.png);
  background-size: cover;
  height: 100px;
  width: 130px;
}

#logud_section {
  width: 400px;
  padding: 40px 0;
  margin: 150px auto;
  border-radius: 5px;
  border: none;
  text-align: center;
}

/** forside **/

#forside_main {
  background-image: url(img/baggrund.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  overflow: scroll;
}

#talebobbel {
  background-image: url(img/talebobbel.png);
  background-size: cover;
  width: 450px;
  height: 400px;
  margin: 20vh auto 0;
  position: relative;
}

#tb_indhold {
  width: 330px;
  position: absolute;
  top: 70px;
  left: 80px;
  display: flex;
  flex-direction: column;
}

#tb_indhold h2 {
  text-align: center;
}

.valg_section {
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
}

#valg_section button {
  width: 200px;
  height: 50px;
  margin: 10px auto;
}

#august {
  animation: august_ind;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 10vw;
}

@keyframes august_ind {
  0% {
    left: -200px;
  }

  100% {
    left: 10vw;
  }
}

/** animationer **/

.zoomind {
  animation-name: zoomin;
  animation-duration: 1.2s;
}

@keyframes zoomin {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.zoomud {
  animation-name: zoomout;
  animation-duration: 1s;
}

@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0);
  }
}

.fadein_slow {
  animation-name: fadein_slow;
  animation-duration: 1.6s;
}

@keyframes fadein_slow {
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  80% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

.fadein {
  animation-name: fadein;
  animation-duration: 0.5s;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  80% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
